{% extends 'base.html' %}
{% load static %}

{% block content %}


        <main class="row content__page">   
            
            <div class="s-content content">
                <div class="col-md-8 ">
                    <h2>Editar Comentario</h2>  
                    <form method="post" action="{% url 'comentarios:path_edit_comentario' articulo_slug=comentario.articulo.slug comentario_id=comentario.id %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        <a href="{% url 'articulos:path_detalle_articulo' articulo_slug=comentario.articulo.slug %}" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>    
            

        </main>



{% endblock content %}
