{% extends 'base.html' %}
{% load static %}

{% block content %}


        <!-- inicio modulo
        ================================================== -->



<div class="s-content content">
    <main class="row content__page">
        <article class="column large-full entry format-standard">
            <h2>Eliminar Artículo</h2>

            <p>¿Estás seguro que deseas eliminar el artículo:</p>
            <p><strong>"{{ object.titulo }}"</strong>?</p>
            
            <p>Esta acción es <strong style="color: rgb(236, 56, 56);">irreversible</strong>.</p>

            <form method="post">
                {% csrf_token %}
                

                <button type="submit" class="btn btn--primary" >ELIMINAR</button>
                        
                <a href="{% url 'articulos:path_detalle_articulo' articulo_slug=object.slug %}" class="btn btn--secondary">CANCELAR</a>
            </form>
        </article>
    </main>
</div>


{% endblock content %}
