{% extends 'base.html' %}
{% load static %}

{% block content %}


        <!-- inicio modulo
        ================================================== -->


        
    

    <div class="s-content content">
        <main class="row content__page">
            <article class="column large-full entry format-standard">
                <h2>Crear Nuevo Artículo</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="btn btn--primary">Crear Artículo</button>
                </form>
            </article>
        </main>
    </div>


{% endblock content %}
