{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- inicio modulo
================================================== -->

<div class="s-content">

    <!-- Sección de Artículos -->
    <header class="listing-header">
        <h1 class="h2">Últimos Artículos: Cultura</h1>
    </header>
    
    <div class="masonry-wrap">
        <div class="masonry">
            <div class="grid-sizer"></div>
            
            {% for articulo in ultimos_articulos %}
            <article class="masonry__brick entry format-standard animate-this">
                <div class="entry__thumb">
                    <a href="{% url 'articulos:path_detalle_articulo' articulo_slug=articulo.slug %}" class="entry__thumb-link">
                        <img src="{{ articulo.imagen.url }}" 
                             srcset="{{ articulo.imagen.url }}" alt="{{ articulo.titulo }}">
                    </a>
                </div>
                <div class="entry__text">
                    <div class="entry__header">
                        <h2 class="entry__title">
                            <a href="{% url 'articulos:path_detalle_articulo' articulo_slug=articulo.slug %}">{{ articulo.titulo }}</a>
                        </h2>
                        <div class="entry__meta">
                            <span class="entry__meta-cat">
                                {% if articulo.colectividad %}
                                    Por <a href="{% url 'articulos:path_lista_articulos_colectividad' colectividad_slug=articulo.colectividad.slug %}">{{ articulo.colectividad.nombre }}</a>
                                {% endif %}
                                <a href="{% url 'articulos:path_lista_articulos' %}">Cultura</a>
                                {% if articulo.categoria %}
                                    <a href="{% url 'articulos:path_lista_articulos_categoria' categoria_slug=articulo.categoria.slug %}">{{ articulo.categoria.nombre }}</a>
                                {% endif %}
                            </span>
                            <span class="entry__meta-date">
                                {{ articulo.creado|date:"d M Y" }}
                            </span>
                        </div>
                    </div>
                    <div class="entry__excerpt">
                        <p>{{ articulo.descripcion|truncatewords:30 }}</p>
                    </div>
                </div>
            </article>
            {% empty %}
            <p>No hay artículos disponibles.</p>
            {% endfor %}
        </div> <!-- end masonry -->
    </div> <!-- end masonry-wrap -->

    <div class="row">
        <div class="column large-full">
            <div class="entry__more-btn">
                <a href="{% url 'articulos:path_lista_articulos' %}" class="btn btn--primary">Ver más</a>
            </div>
        </div>
    </div>
<hr>
<br>
    <!-- Sección de Eventos -->
    <header class="listing-header">
        <h1 class="h2">Próximos Eventos</h1>
    </header>
    
    <div class="masonry-wrap">
        <div class="masonry">
            <div class="grid-sizer"></div>
            
            {% for evento in proximos_eventos %}
            <article class="masonry__brick entry format-standard animate-this">
                <div class="entry__thumb">
                    <a href="{% url 'agenda:path_detalle_evento' evento_slug=evento.slug %}" class="entry__thumb-link">
                        <img src="{{ evento.imagen.url }}" 
                             srcset="{{ evento.imagen.url }}" alt="{{ evento.titulo }}">
                    </a>
                </div>
                <div class="entry__text">
                    <div class="entry__header">
                        <h2 class="entry__title">
                            <a href="{% url 'agenda:path_detalle_evento' evento_slug=evento.slug %}">{{ evento.titulo }}</a>
                        </h2>
                        <div class="entry__meta">
                            <span class="entry__meta-cat">
                                {% if evento.colectividad %}
                                    Por <a href="{% url 'agenda:path_lista_eventos_colectividad' colectividad_slug=evento.colectividad.slug %}">{{ evento.colectividad.nombre }}</a>
                                {% endif %}
                                <a href="{% url 'agenda:path_lista_eventos' %}">Eventos</a>
                                {% if evento.categoria %}
                                    <a href="{% url 'agenda:path_lista_eventos_categoria' categoria_slug=evento.categoria.slug %}">{{ evento.categoria.nombre }}</a>
                                {% endif %}
                            </span>
                            <span class="entry__meta-date">
                                {{ evento.fecha|date:"d M Y" }}
                                {% if evento.hora %} a las {{ evento.hora|time:"H:i" }}{% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="entry__excerpt">
                        <p>{{ evento.descripcion|truncatewords:30 }}</p>
                    </div>
                </div>
            </article>
            {% empty %}
            <p>No hay eventos próximos disponibles.</p>
            {% endfor %}
        </div> <!-- end masonry -->
    </div> <!-- end masonry-wrap -->

    <div class="row">
        <div class="column large-full">
            <div class="entry__more-btn">
                <a href="{% url 'agenda:path_lista_eventos' %}" class="btn btn--primary">Ver más</a>
            </div>
        </div>
    </div>

</div> <!-- end s-content -->

{% endblock content %}